*.suo
vkquake.VC*
Misc/vq_pak/vkquake.pak
Quake/*.dll
Quake/*.o
Quake/history.txt
Quake/id1/
Quake/vkquake
Quake/vkQuake.exe
Quake/vkQuake.res
Windows/VisualStudio/Build-vkQuake/
Shaders/Compiled/*spv
Shaders/bintoc.exe
Shaders/bintoc.obj
Windows/VisualStudio/.vs

game/*
Release/*
Debug/*

**/Release/*
**/Debug/*


*.qpc_hash
*.sln
*.vcxproj
*.filters
*.obj
*.tlog
*.idb
*.pdb
*.log
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb

build/

lib/linux64/
bin/
lib/

\.vscode/
